header {
    width: 100%;
    height: 120px;
    padding: 15px 15px 0 15px;
    margin-left: -8px;
    margin-right: -8px !important;
    margin-top: 10px;
    background-color: violet;
    border-bottom: 1px solid #FF9900;
}
header,#navigation,main{
    display: flex;
    flex-direction: column !important;
}
footer {
    display: block ;
    width: 100% ;
    height: 30px;
    margin-left: -10px;
    padding: 13px 18px 0 18px;
    background-color: violet;
    margin-top: 10px;
}

main {
    max-width: 960px;
    padding-bottom: 20px;
    margin: 0 auto;
    background-color: #fff;
}

body {
    background-image: url(https://assets.pokemon.com/assets//cms2/img/video-games/_downloads/xy/xy_wallpaper6_1920x1200.jpg);
}

#logo {
    float:left;
    padding-right: 10px;
    height: 120px;
    width: 120px;
}

#links {
    margin: 0;
}

#form {
    margin: 10px 10px 20px 10px;
}

table {
    margin-left: 10px;
    border-collapse: collapse;
}

.header_table {
    background-color: red;
    border: 1px solid black;

}
#NAVpicta{
    width:400px;
    height:400px;
}
tr {
    background-color: #FFCC4600;
    border-bottom: 1px solid #000;
}

tr td {
    border-right: 1px solid black;
}

tr td:first-child {
    border-left: 1px solid black;
}

a {
    color: black;
}

a:hover {
    color: #FF992433;
}

nav {
    display: block;
    width: 960px;
    background-color: blue;
    margin: 0 auto;
    padding-left: 0;
    margin-top: 30px !important;
}

nav li {
    display: flex;
    position: relative;
    margin: 0;
    width: 25%;
}

nav li a {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 1.5em;
}

.even {
    background-color: lawngreen;
    text-align: center;
}

.edin{
    background-color: yellow;
}
p{
    max-width: 960px;
    padding: 0;
    margin: 0 auto 0 auto;
    font-size: 300%;
}

#kek{
    display: flex;
    flex-direction: column-reverse !important;
}
#table{
    align-self: center;
}
@media screen and (min-width: 1280px){
    #linksListContainer {
        order:  0;
    }
    #header{
        font-size: 30px;
        display: block;
    }
    #formContainer {
        order:  2;
    }
    #tableContainer {
        order:  1;
    }
    #main-menu {
        flex-direction: row;
        flex-wrap:  wrap;
    }
    #navigation{
        flex-direction: row!important;
        flex-wrap:  wrap;
    }
    #nav-menu {
        flex-direction: row;
    }
    nav li{
        display: inline-block;
    }
    nav li a{
        text-align: center;
        margin-top: 0;
    }
    #NAVpicta{
        width: 700px;
        height: 700px;
    }
    #kek{
        display: flex;
        flex-direction: column!important;
    }
}
